.qushneez-kid {
  background-color: #eee;
  opacity: .9;
  background-image: image_url("kid_fall2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 500px;
}

.qushnezz-trademark {
  color: #fff;
  text-shadow: 2px 2px #000;
  font-weight: 200;
  margin-top: 15%;
}

.selling-points {
  padding: 7rem 0;
}

.marketing-heading-maroon {
  color: #85144b;
}

.marketing-section {
  margin-top: 4rem;
  padding: 4rem 0;
  background-color: #eee;
}

.maroon {
  color: #85144b;
}

.fa-building-o {
  padding-top: 8%;
  font-size: 15rem !important;
}

.about-us {
  margin-top: 4rem;
  padding: 7rem 0;
}

.kids-playing {
  padding-left: 0px !important;
  padding-right: 0px !important;
  img {
  object-fit: cover;
  width: 100%;
  }

}